# This is a template file to be updated and then renamed to wifi_credentials.py
# wifi_credentials.py is on the .gitignore to keep it from github / gitlab

my_ssid = 'put your wifi network name here'
my_password = 'put your password here'

my_mqtt_host = 'put your host here'
my_mqtt_user = 'put your user here'
my_mqtt_password = 'put your password here'