# This is a template file to be updated and then renamed to wifi_credentials.py
# wifi_credentials.py is on the .gitignore to keep it from github / gitlab

my_ssid = 'SenseMakersAMS'
my_password = 'xxxx'

my_mqtt_host = 'mqtt.sensemakersams.org'
my_mqtt_port = 9998
my_mqtt_user = 'public'
my_mqtt_password = 'xxxx'